gitpython
httpx
pydantic
pydantic-settings
python-dotenv
pyyaml
rich
tomli
typer
typing-extensions

# Development dependencies
mypy
pytest
ruff
types-pyyaml
timeout-decorator

# Docker support
docker

# AWS support
boto3

# Kubernetes support
kubernetes

# Server support
fastapi
uvicorn